body {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-family: "Poppins", serif;
  font-weight: 400;
}
body h1 {
  font-size: 70px;
}
body h2 {
  font-size: 60px;
}
body h3 {
  font-size: 48px;
}
body h4 {
  font-size: 40px;
}
body h5 {
  font-size: 38px;
}
body p, body a {
  font-size: 16px;
}
body .btn {
  width: 237px;
  height: 68px;
  background: #E43071;
  border-radius: 200px;
  border: 2px solid #E43071;
  color: #F7F7FC;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .btn:hover {
  border-color: #BE285E;
  background: #BE285E;
}
body .btn-transparent {
  width: 237px;
  height: 68px;
  background: #fff;
  border-radius: 200px;
  border: 2px solid #E43071;
  color: #E43071;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
}
body .btn-transparent:hover {
  border-color: #BE285E;
}

header {
  background: #E43071;
  height: 101px;
  padding: 0 38px;
}
header h4 span {
  color: #FFC1D8;
}
header .header__content_response {
  display: none;
}
header .header__links .header__link {
  margin-left: 38px;
  margin-right: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__btn {
  width: 166px;
  height: 50px;
  font-weight: 400;
}

@media (max-width: 320px) {
  header {
    padding: 0 24px 0 16px;
    height: 64px;
  }
  header h4 {
    font-size: 22px;
  }
  header .header__content {
    display: none;
  }
  header .header__content_response {
    display: block;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header__content_response img {
    margin-left: 25px;
    cursor: pointer;
  }
}
.home {
  background: url(../images/female-working-out.png);
  background-size: cover;
  height: 691px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home span {
  color: #FFDAE7;
}
.home:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.home .home__wave {
  bottom: -10px;
}

@media (max-width: 320px) {
  .home {
    height: 424px;
    background-position-x: 62%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 103px;
  }
  .home h1 {
    font-size: 32px;
  }
  .home .btn {
    width: 208px;
    height: 56px;
    margin-top: 15px;
  }
}
.new-body {
  padding: 94px 140px 122px;
}
.new-body .new-body__images {
  height: 503px;
  width: 440px;
}
.new-body .new-body__content {
  width: 530px;
}
.new-body .new-body__content h4 {
  color: #E43071;
}
.new-body .new-body__content p {
  color: #424242;
}

.become-more {
  height: 700px;
}
.become-more .swiper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.become-more .swiper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
}
.become-more .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.become-more .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #E43071;
  width: 17px;
  height: 17px;
  opacity: 1;
}

.premium-facilities {
  padding: 224px 79px 129px 155px;
}
.premium-facilities .premium-facilities__images {
  height: 435px;
  width: 572px;
}
.premium-facilities .premium-facilities__content {
  width: 480px;
  color: #424242;
}
.premium-facilities .premium-facilities__content h4 {
  color: #E43071;
}

.real-stories {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4E3E9));
  background: linear-gradient(to bottom, #FFFFFF, #F4E3E9);
  height: 900px;
  position: relative;
}
.real-stories .real-stories__content {
  position: absolute;
  top: 126px;
  left: 254px;
  color: #424242;
}
.real-stories .real-stories__content h3 {
  line-height: 57px;
}
.real-stories .real-stories__cards .real-stories__card {
  background: #fff;
  color: #424242;
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.real-stories .real-stories__cards .real-stories__card h5 {
  color: #E43071;
  font-weight: 600;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__subtitle {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__subtitle img {
  width: 25px;
  height: 20px;
  margin-right: 8px;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__subtitle p {
  font-size: 18px;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__name {
  font-size: 18px;
  font-weight: 600;
  color: #424242;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__user span {
  color: #969BAB;
}
.real-stories .real-stories__cards .first-card {
  left: 351px;
  top: 306px;
  padding: 35px 32px 38px 27px;
}
.real-stories .real-stories__cards .second-card {
  right: 258px;
  top: 175px;
  padding: 46px 32px 38px 27px;
}
.real-stories .real-stories__cards .second-card .real-stories__subtitle p {
  width: 360px;
}
.real-stories .real-stories__cards .third-card {
  right: 356px;
  bottom: 81px;
  padding: 31px 31px 32px 27px;
}

.our-app {
  background: #E43071;
  height: 491px;
}
.our-app .our-app__content {
  width: 489px;
}
.our-app .our-app__content span {
  color: #F4ACC6;
}
.our-app .our-app__phones {
  height: 514px;
  bottom: 18px;
}

.social {
  height: 319px;
  background: #EDEDED;
}
.social h4 {
  color: #E43071;
}
.social .social__content {
  width: 510px;
}
.social .social__content a {
  width: 110px;
  height: 110px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}
.social .social__content a img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background: #0B0D17;
}
footer .footer__content .footer__info {
  width: 270px;
}
footer .footer__content .footer__info h6 {
  font-size: 26px;
}
footer .footer__content .footer__info h6 span {
  color: #E43071;
}
footer .footer__content .footer__info p {
  color: #D9DBE1;
}
footer .footer__content .footer__info a {
  width: 24px;
  height: 24px;
  background: #23252E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}
footer .footer__content .footer__info a img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer__content .footer__links {
  width: 245px;
}
footer .footer__content .footer__links span {
  line-height: 30px;
  font-size: 20px;
}
footer .footer__content .footer__links ul li {
  color: #D9DBE1;
  margin: 12px 0;
}
footer .footer__content .footer__guides {
  width: 245px;
}
footer .footer__content .footer__guides span {
  line-height: 30px;
  font-size: 20px;
}
footer .footer__content .footer__guides ul li {
  color: #D9DBE1;
  margin: 12px 0;
}
footer .footer__content .footer__reach span {
  line-height: 30px;
  font-size: 20px;
}
footer .footer__content .footer__reach ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__content .footer__reach ul li span {
  font-size: 14px;
  line-height: 17px;
}
footer .footer__legal {
  color: #D9DBE1;
}
footer .footer__legal .footer__legal-links a {
  font-size: 14px;
}
footer .footer__legal .footer__legal-links span {
  margin: 0 8px;
}

.contact-form {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
  background: linear-gradient(to bottom, #FFFFFF, #EDEDED);
  padding: 100px 0;
}
.contact-form h3 {
  color: #E43071;
  margin-bottom: 30px;
}
.contact-form form {
  width: 390px;
  background: #E43071;
  padding: 60px 30px;
  border-radius: 20px;
}
.contact-form form .contact-form__group {
  margin-bottom: 20px;
}
.contact-form form .contact-form__group label {
  font-size: 18px;
  color: #fff;
  margin-right: 5px;
}
.contact-form form .contact-form__group input {
  border-radius: 10px;
  height: 45px;
  padding: 10px;
  width: 250px;
  outline: none;
}
.contact-form form button {
  margin-top: 20px;
}

.thank-you {
  height: 100vh;
  font-family: "Poppins", serif;
}
.thank-you h1 {
  color: #E43071;
}
.thank-you a {
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.thank-you a:hover {
  background: #E43071;
  color: #fff;
}