body {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-family: "Poppins", serif;
  font-weight: 400;
}
body h1 {
  font-size: 70px;
}
body h2 {
  font-size: 60px;
}
body h3 {
  font-size: 48px;
}
body h4 {
  font-size: 40px;
}
body h5 {
  font-size: 38px;
}
body p, body a {
  font-size: 16px;
}
body .btn {
  width: 237px;
  height: 68px;
  background: #E43071;
  border-radius: 200px;
  border: 2px solid #E43071;
  color: #F7F7FC;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .btn:hover {
  border-color: #BE285E;
  background: #BE285E;
}
body .btn-transparent {
  width: 237px;
  height: 68px;
  background: #fff;
  border-radius: 200px;
  border: 2px solid #E43071;
  color: #E43071;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 700;
}
body .btn-transparent:hover {
  border-color: #BE285E;
}

header {
  background: #E43071;
  height: 101px;
  padding: 0 38px;
}
header h4 span {
  color: #FFC1D8;
}
header .header__content_response {
  display: none;
}
header .header__links .header__link {
  margin-left: 38px;
  margin-right: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__btn {
  width: 166px;
  height: 50px;
  font-weight: 400;
}

@media (min-width: 2000px) {
  header .header__content .header__links .header__link {
    font-size: 20px;
  }
}
@media (max-width: 1320px) {
  header .header__content .header__links .header__link {
    margin: 0 10px;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 0 24px 0 16px;
    height: 64px;
  }
  header h4 {
    font-size: 22px;
  }
  header .header__content {
    display: none;
  }
  header .header__content_response {
    display: block;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header__content_response img {
    margin-left: 25px;
    cursor: pointer;
  }
}
.home {
  background: url(../images/female-working-out.png);
  background-size: cover;
  height: 691px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home span {
  color: #FFDAE7;
}
.home:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.home .home__wave {
  bottom: -10px;
}

@media (min-width: 1700px) {
  .home {
    height: 970px;
    background-position-x: 62%;
  }
  .home h1 {
    font-size: 94px;
  }
  .home .btn {
    font-size: 21px;
    width: 300px;
    height: 90px;
  }
}
@media (max-width: 1440px) {
  .home {
    background-position-x: 62%;
  }
}
@media (max-width: 1024px) {
  .home {
    height: 500px;
  }
  .home h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .home {
    height: 450px;
  }
  .home h1 {
    font-size: 40px;
  }
  .home .btn {
    width: 208px;
    height: 56px;
    margin-top: 15px;
  }
}
@media (max-width: 425px) {
  .home {
    height: 424px;
    background-position-x: 62%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 103px;
  }
  .home h1 {
    font-size: 32px;
  }
}
.new-body {
  padding: 94px 140px 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.new-body .new-body__images {
  height: 503px;
  width: 440px;
}
.new-body .new-body__content {
  width: 530px;
}
.new-body .new-body__content h4 {
  color: #E43071;
}
.new-body .new-body__content p {
  color: #424242;
}

@media (min-width: 2000px) {
  .new-body {
    padding: 94px 16% 122px;
  }
  .new-body .new-body__images {
    width: 660px;
    height: 754px;
  }
  .new-body .new-body__images .new-body__images_first {
    width: 521px;
  }
  .new-body .new-body__images .new-body__images_second {
    width: 361px;
  }
  .new-body .new-body__content {
    width: 600px;
  }
  .new-body .new-body__content h4 {
    font-size: 70px;
  }
  .new-body .new-body__content p {
    font-size: 26px;
  }
}
@media (min-width: 1600px) {
  .new-body {
    padding: 94px 16% 122px;
  }
  .new-body .new-body__content h4 {
    font-size: 50px;
  }
  .new-body .new-body__content p {
    font-size: 20px;
  }
  .new-body .new-body__content .btn-transparent {
    width: 300px;
    height: 90px;
    font-size: 21px;
  }
}
@media (max-width: 1300px) {
  .new-body {
    padding: 94px 80px 122px;
  }
  .new-body .new-body__content {
    width: 380px;
  }
}
@media (max-width: 1024px) {
  .new-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 630px) {
  .new-body {
    display: block;
    padding: 30px 16px;
  }
  .new-body .new-body__images {
    width: 262px;
    height: 313px;
    margin: 0 auto;
  }
  .new-body .new-body__images .new-body__images_first {
    width: 176px;
    height: 248px;
  }
  .new-body .new-body__images .new-body__images_second {
    width: 146px;
    height: 218px;
  }
  .new-body .new-body__content {
    width: 100%;
  }
  .new-body .new-body__content .btn-transparent {
    width: 287px;
    height: 60px;
    margin-left: calc(50% - 144px);
  }
}
.become-more .swiper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.become-more .swiper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
}
.become-more .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.become-more .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #E43071;
  width: 17px;
  height: 17px;
  opacity: 1;
}

@media (min-width: 2000px) {
  .become-more .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .become-more .become-more__content h2 {
    font-size: 94px;
  }
  .become-more .become-more__content p {
    font-size: 26px;
  }
  .become-more .become-more__content .btn {
    width: 300px;
    height: 90px;
    font-size: 21px;
  }
}
@media (min-width: 1600px) {
  .become-more .become-more__content h2 {
    font-size: 80px;
  }
  .become-more .become-more__content p {
    font-size: 22px;
  }
  .become-more .become-more__content .btn {
    width: 300px;
    height: 90px;
    font-size: 21px;
  }
}
@media (max-width: 1024px) {
  .become-more .become-more__content h2 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .become-more .become-more__content h2 {
    font-size: 40px;
  }
}
@media (max-width: 630px) {
  .become-more {
    height: 443px;
  }
  .become-more .swiper .swiper-wrapper .swiper-slide img {
    height: 443px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .become-more .become-more__content h2 {
    font-size: 42px;
    width: 252px;
    line-height: 48px;
  }
  .become-more .become-more__content p {
    width: 257px;
    margin-top: 10px;
    padding: 0;
  }
  .become-more .become-more__content p br {
    display: none;
  }
  .become-more .become-more__content .btn {
    width: 287px;
    height: 56px;
    margin-top: 15px;
  }
}
.premium-facilities {
  padding: 224px 79px 129px 155px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.premium-facilities .premium-facilities__images {
  height: 435px;
  width: 572px;
}
.premium-facilities .premium-facilities__content {
  width: 480px;
  color: #424242;
}
.premium-facilities .premium-facilities__content h4 {
  color: #E43071;
}

@media (min-width: 2000px) {
  .premium-facilities {
    padding: 224px 17% 129px !important;
  }
}
@media (min-width: 1600px) {
  .premium-facilities {
    padding: 224px 13% 129px;
  }
  .premium-facilities .premium-facilities__content {
    width: 500px;
  }
  .premium-facilities .premium-facilities__content h4 {
    font-size: 50px;
  }
  .premium-facilities .premium-facilities__content p {
    font-size: 20px;
  }
  .premium-facilities .premium-facilities__content .btn-transparent {
    width: 300px;
    height: 90px;
    font-size: 21px;
  }
  .premium-facilities .premium-facilities__images {
    height: 522px;
    width: 686px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_first {
    width: 506px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_second {
    width: 533px;
  }
}
@media (max-width: 1300px) {
  .premium-facilities {
    padding: 224px 8% 129px;
  }
  .premium-facilities .premium-facilities__content {
    width: 390px;
  }
  .premium-facilities .premium-facilities__images {
    width: 514px;
    height: 391px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_first {
    width: 379px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_second {
    width: 400px;
  }
}
@media (max-width: 1130px) {
  .premium-facilities .premium-facilities__images {
    width: 411px;
    height: 312px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_first {
    width: 303px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_second {
    width: 320px;
  }
}
@media (max-width: 1024px) {
  .premium-facilities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 110px 0 30px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_first {
    width: 303px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_second {
    width: 320px;
  }
}
@media (max-width: 480px) {
  .premium-facilities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 110px 0 30px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_first {
    width: 303px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_second {
    width: 320px;
  }
}
@media (max-width: 450px) {
  .premium-facilities {
    padding: 74px 16px 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .premium-facilities .premium-facilities__images {
    width: 272px;
    height: 198px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_first {
    width: 191px;
    height: 128px;
  }
  .premium-facilities .premium-facilities__images .premium-facilities__images_second {
    width: 202px;
    height: 135px;
  }
  .premium-facilities .premium-facilities__content {
    margin-top: 16px;
    width: auto;
  }
  .premium-facilities .premium-facilities__content h4 {
    line-height: 48px;
  }
  .premium-facilities .premium-facilities__content p {
    line-height: 32px;
  }
  .premium-facilities .premium-facilities__content .btn-transparent {
    width: 287px;
    height: 63px;
  }
}
.real-stories {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F4E3E9));
  background: linear-gradient(to bottom, #FFFFFF, #F4E3E9);
  height: 900px;
  position: relative;
}
.real-stories .real-stories__content {
  position: absolute;
  top: 126px;
  left: calc(50% - 454px);
  color: #424242;
}
.real-stories .real-stories__content h3 {
  line-height: 57px;
}
.real-stories .real-stories__cards .real-stories__card {
  background: #fff;
  color: #424242;
  position: absolute;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.real-stories .real-stories__cards .real-stories__card h5 {
  color: #E43071;
  font-weight: 600;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__subtitle {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__subtitle img {
  width: 25px;
  height: 20px;
  margin-right: 8px;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__subtitle p {
  font-size: 18px;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__name {
  font-size: 18px;
  font-weight: 600;
  color: #424242;
}
.real-stories .real-stories__cards .real-stories__card .real-stories__user span {
  color: #969BAB;
}
.real-stories .real-stories__cards .first-card {
  left: calc(50% - 361px);
  top: 306px;
  padding: 35px 32px 38px 27px;
}
.real-stories .real-stories__cards .second-card {
  right: calc(50% - 456px);
  top: 175px;
  padding: 46px 32px 38px 27px;
}
.real-stories .real-stories__cards .second-card .real-stories__subtitle p {
  width: 360px;
}
.real-stories .real-stories__cards .third-card {
  right: calc(50% - 354px);
  bottom: 81px;
  padding: 31px 31px 32px 27px;
}
.real-stories .swiper-second {
  display: none;
}

@media (min-width: 2000px) {
  .real-stories {
    height: 1010px !important;
  }
  .real-stories .real-stories__content h3 {
    font-size: 53px;
  }
  .real-stories .real-stories__content p {
    font-size: 23px;
  }
  .real-stories .real-stories__cards .real-stories__card h5 {
    font-size: 62px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__subtitle p {
    font-size: 23px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user img {
    width: 73px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__fullname {
    width: 153px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__fullname span {
    font-size: 21px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__fullname .real-stories__name {
    font-size: 23px;
  }
  .real-stories .real-stories__cards .first-card {
    left: calc(50% - 361px);
    top: 306px;
    padding: 35px 32px 38px 27px;
  }
  .real-stories .real-stories__cards .second-card {
    right: calc(50% - 456px);
    top: 175px;
    padding: 46px 32px 38px 27px;
  }
  .real-stories .real-stories__cards .second-card .real-stories__subtitle p {
    width: 360px;
  }
  .real-stories .real-stories__cards .third-card {
    right: calc(50% - 354px);
    bottom: 81px;
    padding: 31px 31px 32px 27px;
  }
}
@media (min-width: 1600px) {
  .real-stories {
    height: 977px;
  }
  .real-stories .real-stories__cards .real-stories__card h5 {
    font-size: 50px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__subtitle p {
    font-size: 21px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__fullname {
    width: 153px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__fullname span {
    font-size: 18px;
  }
  .real-stories .real-stories__cards .real-stories__card .real-stories__user .real-stories__fullname .real-stories__name {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .real-stories {
    height: 505px;
    padding: 48px 0px 38px;
    overflow: hidden;
  }
  .real-stories .real-stories__content {
    position: relative;
    top: 0;
    left: calc(50% - 150px);
  }
  .real-stories .real-stories__content h3 {
    font-size: 26px;
    line-height: 31px;
  }
  .real-stories .real-stories__content p {
    font-size: 10px;
    line-height: 14px;
    margin-top: 6px;
    margin-bottom: 25px;
  }
  .real-stories .real-stories__cards {
    display: none;
  }
  .real-stories .swiper-second {
    display: block;
    height: 373px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card {
    width: 243px;
    height: 310px;
    border-radius: 7px;
    background: #fff;
    color: #424242;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 25px 16px;
    margin: 0 auto;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card h5 {
    color: #E43071;
    font-weight: 600;
    font-size: 26px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__subtitle {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__subtitle img {
    width: 20px;
    height: 15px;
    margin-right: 8px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__subtitle p {
    font-size: 12px;
    line-height: 20px;
    width: 170px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user {
    position: fixed;
    top: 243px;
    margin-left: 28px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user img {
    width: 40px;
    height: 40px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user .real-stories__fullname {
    width: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user .real-stories__fullname .real-stories__name {
    font-size: 12px;
    font-weight: 600;
    color: #424242;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user .real-stories__fullname span {
    color: #969BAB;
    font-size: 10px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .first-card .real-stories__user {
    left: calc(50% - 113px);
  }
}
@media (max-width: 420px) {
  .real-stories {
    height: 505px;
    padding: 48px 0px 38px;
    overflow: hidden;
  }
  .real-stories .real-stories__content {
    position: relative;
    top: 0;
    left: 31px;
  }
  .real-stories .real-stories__content h3 {
    font-size: 26px;
    line-height: 31px;
  }
  .real-stories .real-stories__content p {
    font-size: 10px;
    line-height: 14px;
    margin-top: 6px;
    margin-bottom: 25px;
  }
  .real-stories .real-stories__cards {
    display: none;
  }
  .real-stories .swiper-second {
    display: block;
    height: 373px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card {
    width: 243px;
    height: 310px;
    border-radius: 7px;
    background: #fff;
    color: #424242;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 25px 16px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card h5 {
    color: #E43071;
    font-weight: 600;
    font-size: 26px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__subtitle {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__subtitle img {
    width: 20px;
    height: 15px;
    margin-right: 8px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__subtitle p {
    font-size: 12px;
    line-height: 20px;
    width: 170px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user {
    position: fixed;
    top: 243px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user img {
    width: 40px;
    height: 40px;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user .real-stories__fullname {
    width: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user .real-stories__fullname .real-stories__name {
    font-size: 12px;
    font-weight: 600;
    color: #424242;
  }
  .real-stories .swiper-second .swiper-wrapper .swiper-slide .real-stories__card .real-stories__user .real-stories__fullname span {
    color: #969BAB;
    font-size: 10px;
  }
}
.our-app {
  background: #E43071;
  height: 491px;
  padding-left: 238px;
}
.our-app .our-app__content {
  width: 489px;
}
.our-app .our-app__content span {
  color: #F4ACC6;
}
.our-app .our-app__phones {
  height: 514px;
  bottom: 18px;
}
.our-app .our-app__phones img {
  width: 568px;
  height: 532px;
}

@media (min-width: 2000px) {
  .our-app {
    padding-left: 23%;
  }
  .our-app .our-app__phones {
    right: 15%;
  }
}
@media (min-width: 1600px) {
  .our-app {
    height: 576px;
  }
  .our-app .our-app__content {
    width: 528px;
  }
  .our-app .our-app__content h4 {
    font-size: 50px;
  }
  .our-app .our-app__content p {
    font-size: 20px;
  }
  .our-app .our-app__content span {
    font-size: 18px;
  }
  .our-app .our-app__content .our-app__download {
    width: 343px;
  }
  .our-app .our-app__content .our-app__download img {
    width: 160px;
  }
  .our-app .our-app__phones {
    bottom: 124px;
  }
  .our-app .our-app__phones img {
    width: 681px;
    height: 638px;
  }
}
@media (max-width: 320px) {
  .our-app {
    height: 970px;
    display: block;
    padding-left: 15px;
    padding-top: 43px;
  }
  .our-app .our-app__content {
    margin: 0;
  }
  .our-app .our-app__content p {
    margin-bottom: 25px;
    margin-top: 0;
    line-height: 33px;
  }
  .our-app .our-app__phones {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 455px;
  }
}
.social {
  height: 319px;
  background: #EDEDED;
}
.social h4 {
  color: #E43071;
}
.social .social__content {
  width: 510px;
}
.social .social__content a {
  width: 110px;
  height: 110px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}
.social .social__content a img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 320px) {
  .social {
    height: 260px;
  }
  .social .social__content {
    width: 275px;
  }
  .social .social__content a {
    height: 75px;
    width: 75px;
  }
  .social .social__content a .social__facebook {
    width: 10px;
    height: 20px;
  }
  .social .social__content a .social__yt {
    width: 17px;
    height: 20px;
  }
  .social .social__content a .social__instagram {
    width: 20px;
    height: 20px;
  }
}
footer {
  background: #0B0D17;
}
footer .footer__content .footer__info {
  width: 270px;
}
footer .footer__content .footer__info h6 {
  font-size: 26px;
}
footer .footer__content .footer__info h6 span {
  color: #E43071;
}
footer .footer__content .footer__info p {
  color: #D9DBE1;
}
footer .footer__content .footer__info a {
  width: 24px;
  height: 24px;
  background: #23252E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
}
footer .footer__content .footer__info a img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer__content .footer__links {
  width: 245px;
}
footer .footer__content .footer__links span {
  line-height: 30px;
  font-size: 20px;
}
footer .footer__content .footer__links ul li {
  color: #D9DBE1;
  margin: 12px 0;
}
footer .footer__content .footer__guides {
  width: 245px;
}
footer .footer__content .footer__guides span {
  line-height: 30px;
  font-size: 20px;
}
footer .footer__content .footer__guides ul li {
  color: #D9DBE1;
  margin: 12px 0;
}
footer .footer__content .footer__reach span {
  line-height: 30px;
  font-size: 20px;
}
footer .footer__content .footer__reach ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__content .footer__reach ul li span {
  font-size: 14px;
  line-height: 17px;
}
footer .footer__legal {
  color: #D9DBE1;
}
footer .footer__legal .footer__legal-links a {
  font-size: 14px;
}
footer .footer__legal .footer__legal-links span {
  margin: 0 8px;
}

@media (max-width: 420px) {
  footer {
    padding: 40px 30px;
  }
  footer .footer__content {
    display: block;
    margin: 0;
    padding: 0;
  }
  footer .footer__content .footer__info p {
    font-size: 13px;
  }
  footer .footer__content .footer__links {
    margin-top: 43px;
    margin-bottom: 308px;
  }
  footer .footer__content .footer__links ul li a p {
    font-size: 14px;
  }
  footer .footer__content .footer__guides {
    display: none;
  }
  footer .footer__legal {
    padding: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 35px;
  }
  footer .footer__legal .footer__legal-links {
    margin-bottom: 16px;
    font-size: 12px;
  }
  footer .footer__legal .footer__legal-links a {
    font-size: 12px;
  }
  footer .footer__legal .footer__legal-links .separator {
    display: none;
  }
}
.contact-form {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
  background: linear-gradient(to bottom, #FFFFFF, #EDEDED);
  padding: 100px 0;
}
.contact-form h3 {
  color: #E43071;
  margin-bottom: 30px;
}
.contact-form form {
  width: 390px;
  background: #E43071;
  padding: 60px 30px;
  border-radius: 20px;
}
.contact-form form .contact-form__group {
  margin-bottom: 20px;
}
.contact-form form .contact-form__group label {
  font-size: 18px;
  color: #fff;
  margin-right: 5px;
}
.contact-form form .contact-form__group input {
  border-radius: 10px;
  height: 45px;
  padding: 10px;
  width: 250px;
  outline: none;
}
.contact-form form button {
  margin-top: 20px;
}

@media (max-width: 320px) {
  .contact-form form {
    width: 285px;
    padding: 35px 17px;
  }
}
.thank-you {
  height: 100vh;
  font-family: "Poppins", serif;
}
.thank-you h1 {
  color: #E43071;
}
.thank-you a {
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.thank-you a:hover {
  background: #E43071;
  color: #fff;
}

@media (max-width: 320px) {
  .thank-you h1 {
    font-size: 45px;
  }
}