body {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
body h1 {
  font-size: 70px;
}
body h2 {
  font-size: 60px;
}
body h3 {
  font-size: 48px;
}
body h4 {
  font-size: 40px;
}
body h5 {
  font-size: 38px;
}
body p {
  font-size: 16px;
}