.become-more {
  .swiper {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px;
      .swiper-pagination-bullet {
        background: #fff;
        width: 12px;
        height: 12px;
        opacity: 1;
        transition: all 0.3s;
      }
      .swiper-pagination-bullet-active {
        background: $pink-color;
        width: 17px;
        height: 17px;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 2000px) {
  .become-more {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
    .become-more__content {
      h2 {
        font-size: 94px;
      }
      p {
        font-size: 26px;
      }
      .btn {
        width: 300px;
        height: 90px;
        font-size: 21px;
      }
    }
  }
}

@media (min-width: 1600px) {
  .become-more {
    .become-more__content {
      h2 {
        font-size: 80px;
      }
      p {
        font-size: 22px;
      }
      .btn {
        width: 300px;
        height: 90px;
        font-size: 21px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .become-more {
    .become-more__content {
      h2 {
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 768px) {
  .become-more {
    .become-more__content {
      h2 {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 630px) {
  .become-more {
    height: 443px;
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          img {
            height: 443px;
            object-fit: cover;
          }
        }
      }
    }
    .become-more__content {
      h2 {
        font-size: 42px;
        width: 252px;
        line-height: 48px;
      }
      p {
        width: 257px;
        margin-top: 10px;
        padding: 0;
        br {
          display: none;
        }
      }
      .btn {
        width: 287px;
        height: 56px;
        margin-top: 15px;
      }
    }
  }
}