.become-more {
  height: 700px;
  .swiper {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 4px;
      .swiper-pagination-bullet {
        background: #fff;
        width: 12px;
        height: 12px;
        opacity: 1;
        transition: all 0.3s;
      }
      .swiper-pagination-bullet-active {
        background: $pink-color;
        width: 17px;
        height: 17px;
        opacity: 1;
      }
    }
  }
}