footer {
  background: #0B0D17;
  .footer__content {
    .footer__info {
      width: 270px;
      h6 {
        font-size: 26px;
        span {
          color: $pink-color;
        }
      }
      p {
        color: #D9DBE1;
      }
      a {
        width: 24px;
        height: 24px;
        background: #23252E;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }
    .footer__links {
      width: 245px;
      span {
        line-height: 30px;
        font-size: 20px;
      }
      ul {
        li {
          color: #D9DBE1;
          margin: 12px 0;
        }
      }
    }
    .footer__guides {
      width: 245px;
      span {
        line-height: 30px;
        font-size: 20px;
      }
      ul {
        li {
          color: #D9DBE1;
          margin: 12px 0;
        }
      }
    }
    .footer__reach {
      span {
        line-height: 30px;
        font-size: 20px;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
  .footer__legal {
    color: #D9DBE1;
    .footer__legal-links {
      a {
        font-size: 14px;
      }
      span {
        margin: 0 8px;
      }
    }
  }
}

@media (min-width: 1600px) {
  footer {
    .footer__content {
      .footer__info {
        width: 350px;
        h6 {
          font-size: 38px;
        }
        p {
          font-size: 17px;
        }
      }
      .footer__links {
        span {
          font-size: 25px;
        }
        ul {
          li {
            a {
              font-size: 20px;
            }
          }
        }
      }
      .footer__guides {
        span {
          font-size: 25px;
        }
        ul {
          li {
            a {
              font-size: 20px;
            }
          }
        }
      }
      .footer__reach {
        span {
          font-size: 25px;
        }
        ul {
          li {
            img {
              width: 30px;
              height: 30px;
            }
            .location {
              width: 24px;
            }
            span {
              font-size: 20px;
            }
          }
        }
      }
    }
    .footer__legal {
      span {
        font-size: 20px;
      }
      .footer__legal-links {
        a {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  footer {
    .footer__content {
      padding: 96px 10% 0;
      .footer__links {
        width: 150px;
      }
      .footer__guides {
        width: 150px;
      }
      .footer__reach {
        width: 150px;
      }
    }
    .footer__legal {
      padding: 24px 12%;
    }
  }
}

@media (max-width: 1024px) {
  footer {
    .footer__content {
      padding-left: 50px;
      flex-direction: column;
      .footer__info {
        margin-bottom: 50px;
      }
    }
    .footer__legal {
      flex-direction: column-reverse;
      padding: 24px 0;
      text-align: center;
      .footer__legal-links {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 700px) {
  footer {
    padding: 40px 30px;
    .footer__content {
      display: block;
      margin: 0;
      padding: 0;
      .footer__info {
        p {
          font-size: 13px;
        }
      }
      .footer__links {
        margin-top: 43px;
        margin-bottom: 308px;
        ul {
          li {
            a {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
      .footer__guides {
        display: none;
      }
    }
    .footer__legal {
      padding: 0;
      text-align: center;
      flex-direction: column-reverse;
      margin-top: 35px;
      .footer__legal-links {
        margin-bottom: 16px;
        font-size: 12px;
        a {
          font-size: 12px;
        }
      }
    }
  }
}