header {
  background: $pink-color;
  height: 101px;
  padding: 0 38px;
  h4 {
    span {
      color: #FFC1D8;
    }
  }
  .header__content_response {
    display: none;
  }
  .header__links {
    .header__link {
      margin-left: 38px;
      margin-right: 38px;
      display: inline-flex;
      align-items: center;
    }
  }
  .header__btn {
    width: 166px;
    height: 50px;
    font-weight: 400;
  }
}

@media (min-width: 2000px) {
  header {
    .header__content {
      .header__links {
        .header__link {
          font-size: 20px;
        }
      }
    }
  }
} 

@media (max-width: 1320px) {
  header {
    .header__content {
      .header__links {
        .header__link {
          margin: 0 10px;
        }
      }
    }
  }
} 

@media (max-width: 1000px) {
  header {
    padding: 0 24px 0 16px;
    height: 64px;
    h4 {
      font-size: 22px;
    }
    .header__content {
      display: none;
    }
    .header__content_response {
      display: block;
      height: 15px;
      display: flex;
      justify-content: space-between;
      img {
        margin-left: 25px;
        cursor: pointer;
      }
    }
  }
}