.home {
  background: url(../images/female-working-out.png);
  background-size: cover;
  height: 691px;
  justify-content: center;
  span {
    color: #FFDAE7;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .home__wave {
    bottom: -10px;
  }
}

@media (min-width: 1700px) {
  .home {
    height: 970px;
    background-position-x: 62%;
    h1 {
      font-size: 94px;
    }
    .btn {
      font-size: 21px;
      width: 300px;
      height: 90px;
    }
  }
}

@media (max-width: 1440px) {
  .home {
    background-position-x: 62%;
  }
}

@media (max-width: 1024px) {
  .home {
    height: 500px;
    h1 {
      font-size: 60px;
    }
  }
}

@media (max-width: 768px) {
  .home {
    height: 450px;
    h1 {
      font-size: 40px;
    }
    .btn {
      width: 208px;
      height: 56px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 425px) {
  .home {
    height: 424px;
    background-position-x: 62%;
    justify-content: start;
    padding-top: 103px;
    h1 {
      font-size: 32px;
    }
  }
}