.new-body {
  padding: 94px 140px 122px;
  .new-body__images {
    height: 503px;  
    width: 440px;
  }
  .new-body__content {
    width: 530px;
    h4 {
      color: $pink-color;
    }
    p {
      color: #424242;
    }
  }
}