.premium-facilities {
  padding: 224px 79px 129px 155px;
  .premium-facilities__images {
    height: 435px;  
    width: 572px;
  }
  .premium-facilities__content {
    width: 480px;
    h4 {
      color: $pink-color;
    }
  }
}