.social {
  height: 319px;
  background: #EDEDED;
  h4 {
    color: $pink-color;
  }
  .social__content {
    width: 510px;
    a {
      width: 110px;
      height: 110px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (min-width: 1600px) {
  .social {
    height: 335px;
    padding-bottom: 100px;
    h4 {
      font-size: 70px;
    }
    .social__content {
      width: 765px;
      a {
        height: 154px;
        width: 154px;
        .social__facebook {
          width: 23px;
        }
        .social__yt {
          width: 40px;
          height: 43px;
        }
        .social__instagram {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .social {
    height: 260px;
    .social__content {
      width: 275px;
      a {
        height: 75px;
        width: 75px;
        .social__facebook {
          width: 10px;
          height: 20px;
        }
        .social__yt {
          width: 17px;
          height: 20px;
        }
        .social__instagram {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}