.thank-you {
  height: 100vh;
  font-family: "Poppins", serif;
  h1 {
    color: $pink-color;
  }
  a {
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.2s;
    &:hover {
      background: $pink-color;
      color: #fff;
    }
  }
}

@media (max-width: 320px) {
  .thank-you {
    h1 {
      font-size: 45px;
    }
  }
}